@import "tailwindcss";

@theme inline {

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
 
  --color-bg: #0B0F14;
  --color-text-primary: #E2E2E2;
  --color-text-secondary: #6E7E85;
  --color-accent: #B7CECE;
  --color-muted: #BBBAC6;
  --color-surface: #111111;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Hide horizontal scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}
